<div id="main">

</div>

<div id='map-section'>
    <input id="pac-input" class="controls" type="text" placeholder="Search by address...">
    <!-- <div class="input-control checkbox">
        <label>
            <input type="checkbox" id="filled"/>
            <span class="check"></span>
            Unfilled only
        </label>
    </div> -->
    <button id="start-draw">Draw</button>
    <div id="map-canvas">
    </div>
</div>

<div id="chart" ng-app="chartApp" ng-controller="PotHoleChartController">
    <div class="average">Average number of pot holes reported per day: <span id="avg-report"></span></div>
    <div class="average">Average number of pot holes patched per day: <span id="avg-patch"></span></div>
    <linechart data="data" options="options" mode=""></linechart>
</div>




