<div id="main">
</div>
<div id="date-range">
  <form id="date-pick">
    <label for="Start">Start date</label>
    <input id="start-date" type="date" name="Start">
    <label for="End">End date</label>
    <input id="end-date" type="date" name="End">
    <input type="submit" value="Find">
  </form>
</div>
<div id='map-section'>
  <input id="pac-input" class="controls" type="text" placeholder="Find your hole">
  <div class="input-control checkbox">
    <label>
      <input type="checkbox" id="filled"/>
      <span class="check"></span>
      Unfilled only
    </label>
  </div>
  <button id="start-draw">Draw</button>
  <div id="map-canvas">
  </div>
</div>
<div id="chart" ng-app="chartApp" ng-controller="PotHoleChartController">
  <linechart data="data" options="options" mode=""></linechart>
</div>
