<div id="main">
  <h1>Fill My Hole</h1>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Find your hole">
<div class="input-control checkbox">
    <label>
        <input type="checkbox" id="filled"/>
        <span class="check"></span>
        Unfilled only
    </label>
</div>
<div id="map-canvas">
</div>
