<!-- Load script -->

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP']}">
</script>
<%= stylesheet_link_tag    'gmap', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'gmap', 'data-turbolinks-track' => true %>

<!-- End script -->
<div id="main">
    <h1>Fill My Hole</h1>
</div>


<div id="map-canvas">
    
</div>


















































































