<h1>Draw Area</h1>

<button id='undo-button'>Undo</button>
<button id='clear-button'>Clear</button>
<button id='done-button'>Done</button>

<div class="outsideWrapper">
    <div class="insideWrapper">
        <img id="street-view-image" src="http://maps.googleapis.com/maps/api/streetview?size=640x480&pano=DRkWxDlStamtvVrDRYYFJA" class="coveredImage">
        <div id="editor"><canvas class="coveringCanvas"></canvas></div>
    </div>
</div>
