<h1>Draw Area</h1>

<button id='undo-button'>Undo</button>
<button id='clear-button'>Clear</button>
<button id='black-button'>Black</button>
<button id='red-button'>Red</button>
<button id='blue-button'>Blue</button>
<button id='green-button'>Green</button>
<button id='done-button'>Back</button>
<button id='save-button'>Save!</button>

<div class="outsideWrapper">
    <div class="insideWrapper">
        <img id="street-view-image" src="" class="coveredImage">
        <div id="editor"><canvas id="myCanvas" class="coveringCanvas"></canvas></div>
    </div>
</div>
