<nav class="navigation-bar fixed-top">
    <nav class="navigation-bar-content">
        <button class="element image-button image-left">
            Fill My Hole
        </button>
        <span class="element-divider"></span>
    </nav>
</nav>
