<nav class="navigation-bar fixed-top">
    <nav class="navigation-bar-content">
        <button class="element image-button image-left">
            ChicagHole
        </button>
        <span class="element-divider"></span>
        <div id="date-range" class="element">
            <form id="date-pick">
            <label for="Start">Start date</label>
            <input id="start-date" type="date" name="Start">
            <label for="End">End date</label>
            <input id="end-date" type="date" name="End">
            <input type="submit" value="Find">
            </form>
        </div>
    </nav>
</nav>
