.draw {
    position: fixed;
    top: 40px;
    left: 160px;
    width: 960px;
    bottom: 40px;
    border: groove;
    display: none;
}

.outsideWrapper{ 
    width:640px; height:480px; 
    margin:20px 60px; 
    border:groove;}
.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    z-index: 1030;
}



