html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}
.metro #map-section {
  height: 600px;
  width: 95%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 0;
  border: groove;

}
.metro #map-canvas {
  height: 100%;
  width: 100%;
  border: groove;
  float: left;
}
#map-canvas img {
  max-width: none;
}
#date-range {
  display: inline;
  border: 1px solid yellow;
  margin: 0;
  padding: 0;
}
#date-pick {
  display: inline;
  padding: 0;
  margin: 0;
}

#date-pick input,
#date-pick label {
  display: inline-block;
  padding: 0;
  margin: 0;

}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 20%;
  margin: 0px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  position: absolute;
  margin-left: 80px;
  margin-top: 30px;
  z-index: 1030;
}
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 401px;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

